.ready-ctn {
    background-image: url('../../../public/assets/images/pngs/ready.png');
    background-size: contain;
    height: 49.6vh;
    max-height: 50vh;
    background-repeat: no-repeat;
    cursor: pointer;
}