.about-ctn {
    background-color: #121212;
    height: auto;
    width: 100%;
    min-width: 100vw;
    min-height: 50vh;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7vh 0 10vh;
}